@use './palette';

@keyframes fadein {
    0% {
        left: -0.75rem;
        opacity: 0;
    }
    60% {
        left: 0rem;
    }
    100% {
        opacity: 1;
        left: 0rem;
    }
}

.clock {
    position: relative;
    background-color: palette.$mgrey;
    padding: 1rem 32px;
    padding-bottom: 32px;
    color: white;
    border-radius: 0.8rem;
    width: 250px;
    margin-bottom: 3rem;
    opacity: 0;
    left: -0.75rem;

    &.show {
        animation: fadein 1s ease-out 0s 1 forwards;
    }
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.link {
    display: block;
    cursor: pointer;
    
    &:hover {
        color: palette.$lgrey;
    }
}

.desc {
    height: 235px;
    overflow-y: scroll;
}

.display, .desc {
    opacity: 1;
    transition: opacity 0.2s ease-in;

    &.fade {
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
}

.digital {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 1rem;
    
    span {
        background-color: white;
        border-radius: 0.3rem;
        padding: 0.3rem 2rem;
    }
}

.traditional {

    @mixin line($rotation: 0deg) {
        position: absolute;
        width: 5px;
        height: 90%;
        background-color: palette.$lgrey;
        z-index: 0;
        transform-origin: 2px 50%;
        transform: rotate($rotation);
        left: 90px;
        top: 5%;
    }
    .line1 {
        @include line(0deg);

        &.green {
            background-color: palette.$green;
        }
        &.blue {
            background-color: palette.$blue;
        }
        &.lavender {
            background-color: palette.$lavender;
        }
    }
    .line2 {
        @include line(30deg);
    }
    .line3 {
        @include line(60deg);
    }
    .line4 {
        @include line(90deg);

        &.green {
            background-color: palette.$green;
        }
        &.blue {
            background-color: palette.$blue;
        }
        &.lavender {
            background-color: palette.$lavender;
        }
    }
    .line5 {
        @include line(120deg);
    }
    .line6 {
        @include line(150deg);
    }

    .linecover {
        position: absolute;
        width: 75%;
        height: 75%;
        top: 12.5%;
        left: 12.5%;
        border-radius: 50%;
        z-index: 1;
        background-color: palette.$white;
    }

    .hand {
        position: absolute;
        width: 4px;
        left: 91px;
        z-index: 5;
        transform-origin: 2px 100%;
        border-radius: 4px;

        &.green {
            background-color: palette.$green;
        }
        &.blue {
            background-color: palette.$blue;
        }
        &.lavender {
            background-color: palette.$lavender;
        }
    }

    .minute {
        height: 40%;
        top: 10%;
    }

    .hour {
        height: 20%;
        top: 30%;
    }

    .topcover {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        top: 91px;
        left: 91px;
        z-index: 10;
    }

    .face {
        background-color: palette.$white;
        width: 186px;
        height: 186px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }
}
